{% extends "form_choice.html" %}

{% block results %}
<div class="content">
<br>
<p>{{ bu }}</p>
<p>
    
<table border = 1>
<tr>
{% for heder in headers %}
	<th>{{ heder }}</th>
{% endfor %}
</tr>

<tr>
	<td> {{ data.project.client }} </td>
    <td> {{ data.project }} </td>
    <td> {{ data.dns_url }} </td>
    <td> {{ data.sercode }} </td>
	<td> {{ data.dns_login }} </td>
	<td> {{ data.dns_pass }} </td>
	<td> {{ data.dns_date }} </td>
	<td> {{ data.dns_owner }} </td>
</tr>
</table>
</p>
<p>{{ data.projects.object_list }}</p>
</div>
<br clear="both" />
{% endblock %}
