{% extends "form_choice.html" %}

{% block results %}
<div  class="layer2">
<br>
<p>{{ bu }}</p>
<p>
<table border = 1>
<tr>
{% for heder in headers %}
	<th>{{ heder }}</th>
{% endfor %}
</tr>
	{% for cl in data.projects.all %}
		{% for dat in cl.domains.all %}
            {% for sit in dat.sites.all  %}
			    <tr>
			    <td> {{ cl }} </td>
			    <td> {{ dat }} </td>
			    <td> {{ sit }} </td>
                <td> {{ sit.test_flag }} </td>
			    </tr>
            {% endfor %}
		{% endfor %}
	{% endfor %}
</table>
</p>
<p>
{{ data.objects.all }}
</p>
<p>{{ data.projects.object_list }}</p>
</div>
<br clear="both" />
{% endblock %}
