{% extends "form_choice.html" %}

{% block results %}
<div  class="layer2">
<br>
<p>{{ bu }}</p>
<p>
<table border = 1>
<tr>
{% for heder in headers %}
	<th>{{ heder }}</th>
{% endfor %}
</tr>
{% for obj in data.projects.all %}
	{% for dmn in obj.domains.all %}
		<tr>
        	        <td>{{ obj }}</td>
                        <td>{{ dmn }}</td>
			<td>{{ dmn.dns_date }}</td>
		</tr>
	{% endfor %}
{% endfor %}
</table>
</p>
<p>{{ data.projects.object_list }}</p>
</div>
<br clear="both" />
{% endblock %}
