{% extends "form_choice.html" %}

{% block results %}
<div  class="layer2">
<br>
<p>
        <a href="/choice/sites/sites/">Выбрать все сайты</a>
</p>

<p>
	<a href="/choice/sites/clients/in/">Выбрать сайты по клиенту</a>
</p>
<p>
        <a href="/choice/sites/projects/in/">Выбрать сайты по проекту</a>
</p>
<p>
        <a href="/choice/sites/domains/in/">Выбрать сайты по домену</a>
</p>
<p>
        <a href="/choice/sites/admins/in/">Выбрать сайты по админке</a>
</p>
<p>
        <a href="/choice/sites/sites/one/in/">Инфомация о сайте</a>
</p>

</div>
<br clear="both" />
{% endblock %}
